{{ form_start(form, { attr: { class: 'dash-form', 'data-turbo': 'false' } }) }}
    {{ form_row(form.name, { attr: { class: 'form-control' }, label: 'Nom de la sous-catégorie' }) }}
    {{ form_row(form.category, { attr: { class: 'form-select' }, label: 'Catégorie parente' }) }}
    <div class="dash-form__actions">
        <button type="submit" class="umu-btn umu-btn--primary">
            {{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}
